{% raw %}{% extends "registration/base.html" %}

{% load url from future %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Registration complete" %}{% endblock %}

{% block content %}
<h1>{% trans "Registration complete" %}</h1>

<p>{% trans "Your registration was created successfully." %}</p>
<p>{% trans "Please wait until the admin accepts your registration." %}
{% trans "You will receive an acceptance or rejection email within several days." %}</p>
{% endblock content %}
{% endraw %}
